<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="clientAddress">
      <h2 data-cy="clientAddressDetailsHeading"><span jhiTranslate="oneHealthApp.clientAddress.detail.title">Client Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ clientAddress.id }}</span>
        </dd>
        <dt><span jhiTranslate="oneHealthApp.clientAddress.name">Name</span></dt>
        <dd>
          <span>{{ clientAddress.name }}</span>
        </dd>
        <dt><span jhiTranslate="oneHealthApp.clientAddress.clientId">Client Id</span></dt>
        <dd>
          <span>{{ clientAddress.clientId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client-address', clientAddress.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
