<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-analysis-heading" data-cy="AnalysisCreateUpdateHeading" jhiTranslate="oneHealthApp.analysis.home.createOrEditLabel">
        Create or edit a Analysis
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneHealthApp.analysis.sampleId" for="field_sampleId">Sample Id</label>
          <input type="text" class="form-control" name="sampleId" id="field_sampleId" data-cy="sampleId" formControlName="sampleId" />
          <div *ngIf="editForm.get('sampleId')!.invalid && (editForm.get('sampleId')!.dirty || editForm.get('sampleId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sampleId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneHealthApp.analysis.analysisServiceId" for="field_analysisServiceId"
            >Analysis Service Id</label
          >
          <input
            type="text"
            class="form-control"
            name="analysisServiceId"
            id="field_analysisServiceId"
            data-cy="analysisServiceId"
            formControlName="analysisServiceId"
          />
          <div
            *ngIf="
              editForm.get('analysisServiceId')!.invalid &&
              (editForm.get('analysisServiceId')!.dirty || editForm.get('analysisServiceId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('analysisServiceId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneHealthApp.analysis.result" for="field_result">Result</label>
          <input type="text" class="form-control" name="result" id="field_result" data-cy="result" formControlName="result" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneHealthApp.analysis.dateResulted" for="field_dateResulted">Date Resulted</label>
          <div class="input-group">
            <input
              id="field_dateResulted"
              data-cy="dateResulted"
              type="text"
              class="form-control"
              name="dateResulted"
              ngbDatepicker
              #dateResultedDp="ngbDatepicker"
              formControlName="dateResulted"
            />
            <button type="button" class="btn btn-secondary" (click)="dateResultedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
